/* Center the main content */
main {
  display: flex; 
  justify-content: center;
  align-items: center; 
  flex-direction: column;
  min-height: 100vh;
  margin: 0; 
  background-color: whitesmoke; 
}


/* Form Container */
.recipe-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
}

/* Form Group */
.form-group {
  margin-bottom: 20px;
}

/* Labels */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #555;
}

/* Input and Textarea */
input[type="text"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

select {
  background-color: #fff;
}

/* File Input */
input[type="file"] {
  padding: 5px;
  font-size: 16px;
}

/* Submit Button */
.submit-button {
  background-color: #972033;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  text-transform: uppercase;
}

.submit-button:hover {
  background-color: #b84a5e;
}

/* Responsive Design */
@media (max-width: 600px) {
  .recipe-form {
    padding: 15px;
  }

  .form-group {
    margin-bottom: 15px;
  }
}